### This project is meant to practice my skills, it is not meant to be a financial advice!!!

In [1]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border-style: solid;
}

#add table borders (source: https://stackoverflow.com/questions/51420603/add-table-borders-in-jupyter-notebook)

## Import libraries

In [2]:
import pandas_datareader.data as web
import pandas as pd
import datetime as dt

##### The period chosen of 9 years is for the following reasons:
* As we already know the share price is determined by supply and demand in the market, and since the majority of companies gone hybrid or stopped their business during the pandemic, it has been a different situation in the stock market (first case of covid was made public on 17 November 2019)
* In 2007, started the financial crisis until 2008
* In 2009, also started the European debt crisis until mid 2010
* Build a machine learning model based on this data, even as Robert Kiyosaki says, the stock market is "manipulated"

In [3]:
start = dt.datetime(2010,11,1)

In [4]:
end = dt.datetime(2019,11,1)

## Data collection
###### We are going to get Stock information for the following  Indexes:

* FTSE 100(UK)
* S&P 500(USA)
* Dow Jones Industrial Average(USA) 
* NASDAQ Composite(USA)
* Hang Seng Index(CHINA)
* Nikkei 225(JAPAN)
* CAC 40(FRANCE)
* IBEX 35 Index(SPAIN)
* FTSE MIB Index(ITALY)
* Austrian Traded Index(AUSTRIA)

In [18]:
# Austrian Traded Index
ATX = web.DataReader('^ATX','yahoo',start,end)

# Dow Jones Industrial Average

DJI = web.DataReader('^DJI','yahoo',start,end)

# CAC 40

FCHI = web.DataReader('^FCHI','yahoo',start,end)

# FTSE 100

FTSE = web.DataReader('\^FTSE','yahoo',start,end)

# FTSE MIB Index

FTSEMIB = web.DataReader('\FTSEMIB.MI','yahoo',start,end)

# S&P 500

GSPC = web.DataReader('^GSPC','yahoo',start,end)

# Hang Seng Index

HSI = web.DataReader('^HSI','yahoo',start,end)

# IBEX 35 Index

IBEX = web.DataReader('^IBEX','yahoo',start,end)

# NASDAQ Composite

IXIC = web.DataReader('^IXIC','yahoo',start,end)

# Nikkei 225

N225 = web.DataReader('^N225','yahoo',start,end)

In [8]:
df = web.DataReader(['\^FTSE','^GSPC','^DJI','^IXIC','^HSI','^N225','^FCHI','^IBEX','\FTSEMIB.MI','^ATX'],'yahoo',start,end)

In [6]:
tickers = ['^ATX', '^DJI', '^FCHI', '\^FTSE', '\FTSEMIB.MI', '^GSPC', '^HSI', '^IBEX', '^IXIC', '^N225']

In [8]:
indexStocks = pd.concat([ATX,DJI,FCHI,FTSE,FTSEMIB,GSPC,HSI,IBEX,IXIC,N225],axis=1,keys=tickers)

In [9]:
indexStocks.head()

                   ^ATX                                                    \
                   High          Low         Open        Close     Volume
Date
2010-11-01          NaN          NaN          NaN          NaN        NaN
2010-11-02  2702.889893  2667.639893  2668.070068  2699.280029  6399000.0
2010-11-03  2709.129883  2673.260010  2699.280029  2673.280029  5816800.0
2010-11-04  2723.949951  2673.110107  2673.280029  2721.310059  5093200.0
2010-11-05  2743.750000  2709.199951  2721.310059  2719.889893  4086000.0

                                 ^DJI                              \
              Adj Close          High           Low          Open
Date
2010-11-01          NaN  11244.269531  11062.330078  11120.299805
2010-11-02  2699.280029  11219.519531  11125.219727  11125.219727
2010-11-03  2673.280029  11226.639648  11097.370117  11184.879883
2010-11-04  2721.310059  11440.370117  11216.650391  11216.650391
2010-11-05  2719.889893  11451.530273  11393.519531  11435.219727

                          ...        ^IXIC                             \
                   Close  ...         Open        Close        Volume
Date                      ...
2010-11-01  11124.620117  ...  2520.449951  2504.840088  1.904790e+09
2010-11-02  11188.719727  ...  2525.939941  2533.520020  1.914980e+09
2010-11-03  11215.129883  ...  2532.830078  2540.270020  1.990410e+09
2010-11-04  11434.839844  ...  2569.270020  2577.340088  2.492050e+09
2010-11-05  11444.080078  ...  2577.629883  2578.979980  2.092850e+09

                               ^N225                                         \
              Adj Close         High          Low         Open        Close
Date
2010-11-01  2504.840088  9258.320312  9134.469727  9166.849609  9154.719727
2010-11-02  2533.520020  9172.030273  9123.620117  9140.280273  9159.980469
2010-11-03  2540.270020          NaN          NaN          NaN          NaN
2010-11-04  2577.340088  9377.759766  9276.709961  9282.790039  9358.780273
2010-11-05  2578.979980  9680.679688  9497.450195  9500.599609  9625.990234


                 Volume    Adj Close
Date
2010-11-01  125400000.0  9154.719727
2010-11-02  115200000.0  9159.980469
2010-11-03          NaN          NaN
2010-11-04  133100000.0  9358.780273
2010-11-05  160900000.0  9625.990234

[5 rows x 60 columns]

In [10]:
indexStocks.columns.names = ['Index Tickers', 'Stock Info']

In [11]:
indexStocks.head()

Index Tickers         ^ATX                                                    \
Stock Info            High          Low         Open        Close     Volume
Date
2010-11-01             NaN          NaN          NaN          NaN        NaN
2010-11-02     2702.889893  2667.639893  2668.070068  2699.280029  6399000.0
2010-11-03     2709.129883  2673.260010  2699.280029  2673.280029  5816800.0
2010-11-04     2723.949951  2673.110107  2673.280029  2721.310059  5093200.0
2010-11-05     2743.750000  2709.199951  2721.310059  2719.889893  4086000.0

Index Tickers                       ^DJI                              \
Stock Info       Adj Close          High           Low          Open
Date
2010-11-01             NaN  11244.269531  11062.330078  11120.299805
2010-11-02     2699.280029  11219.519531  11125.219727  11125.219727
2010-11-03     2673.280029  11226.639648  11097.370117  11184.879883
2010-11-04     2721.310059  11440.370117  11216.650391  11216.650391
2010-11-05     2719.889893  11451.530273  11393.519531  11435.219727

Index Tickers                ...        ^IXIC                             \
Stock Info            Close  ...         Open        Close        Volume
Date                         ...
2010-11-01     11124.620117  ...  2520.449951  2504.840088  1.904790e+09
2010-11-02     11188.719727  ...  2525.939941  2533.520020  1.914980e+09
2010-11-03     11215.129883  ...  2532.830078  2540.270020  1.990410e+09
2010-11-04     11434.839844  ...  2569.270020  2577.340088  2.492050e+09
2010-11-05     11444.080078  ...  2577.629883  2578.979980  2.092850e+09

Index Tickers                     ^N225                            \
Stock Info       Adj Close         High          Low         Open
Date
2010-11-01     2504.840088  9258.320312  9134.469727  9166.849609
2010-11-02     2533.520020  9172.030273  9123.620117  9140.280273
2010-11-03     2540.270020          NaN          NaN          NaN
2010-11-04     2577.340088  9377.759766  9276.709961  9282.790039
2010-11-05     2578.979980  9680.679688  9497.450195  9500.599609

Index Tickers
Stock Info           Close       Volume    Adj Close
Date
2010-11-01     9154.719727  125400000.0  9154.719727
2010-11-02     9159.980469  115200000.0  9159.980469
2010-11-03             NaN          NaN          NaN
2010-11-04     9358.780273  133100000.0  9358.780273
2010-11-05     9625.990234  160900000.0  9625.990234

[5 rows x 60 columns]

In [12]:
indexStocks.isnull().sum()

Index Tickers  Stock Info
^ATX           High          123
               Low           123
               Open          123
               Close         123
               Volume        123
               Adj Close     123
^DJI           High           77
               Low            77
               Open           77
               Close          77
               Volume         77
               Adj Close      77
^FCHI          High           44
               Low            44
               Open           44
               Close          44
               Volume         44
               Adj Close      44
\^FTSE         High           69
               Low            69
               Open           69
               Close          69
               Volume         69
               Adj Close      69
\FTSEMIB.MI    High           59
               Low            59
               Open           59
               Close          59
               Volume         59
               Adj Close      59
^GSPC          High           77
               Low            77
               Open           77
               Close          77
               Volume         77
               Adj Close      77
^HSI           High          127
               Low           127
               Open          127
               Close         127
               Volume        127
               Adj Close     127
^IBEX          High           42
               Low            42
               Open           42
               Close          42
               Volume         42
               Adj Close      42
^IXIC          High           77
               Low            77
               Open           77
               Close          77
               Volume         77
               Adj Close      77
^N225          High          138
               Low           138
               Open          138
               Close         138
               Volume        138
               Adj Close     138
dtype: int64